Options +FollowSymlinks
RewriteEngine On
# Allow any files or directories that exist to be displayed directly
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/?signin/? login.php [NC]
#Had to do this till better conditionals.
RewriteRule ^/?signup/([a-z]+)/?$ signup.php?utype=$1 [NC]
RewriteRule ^/?signup/?$ signup.php?utype=work [NC]

RewriteRule ^/?profile/?$ profile.php

RewriteRule ^/?user/([0-9]+)/?$ templates/_user.php?user=$1

RewriteRule ^/?dashboard dashboard.php [NC]

RewriteRule ^/?addproject dashboard.php?page=new [NC]
RewriteRule ^/?editor/?$ dashboard.php?page=edit [NC]
RewriteRule ^/?editor/([0-9]+)/?$ dashboard.php?page=edit&job_id=$1 [NC]

RewriteRule ^/?myprojects dashboard.php?page=projects [NC]

#Applications management and stuffs...alo takes care of get variables
RewriteRule ^/?myproject/([0-9]+)/?$ dashboard.php?page=projects&focus=$1 [L,QSA]

#Viewing project details
RewriteRule ^/?project/([0-9]+)/([0-9a-zA-Z_]+)/?$ project.php?job_id=$1 [NC]

RewriteRule ^/?messages/?$ dashboard.php?page=messages [NC]
RewriteRule ^/?messages/([0-9]+)/?$ dashboard.php?page=messages&with=$1 [NC,L,QSA]

RewriteRule ^/?settings/?$ dashboard.php?page=settings [NC]
RewriteRule ^/?settings/([a-z]+)/?$ dashboard.php?page=settings&section=$1 [NC]

RewriteRule ^/?feedback/?$ templates/feedback.php [NC,L,QSA]